
.main_page {
    background-image: url(./layer_21_.png);
    width: 100%;
    height: 700px;
}

.head {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 48px;
}

.head2 {
    color: #ffffff;
    font-size: 18px;
}


.head3 {
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 54px;
}


.head4 {
    color: #f1ad1d;
}

.header {
    padding: 150px 0 0 100px;
}


.content {
    text-align: center;
    background: url("../background.png");
}

.dash {
    width: 60px;
    height: 3px;
    background-color: orange;
    border: none;
}